aiofiles==0.8.0
atomicwrites==1.4.1
attrs==22.2.0
autopep8==2.0.1
cleo==0.8.1
clikit==0.6.2
colorama==0.4.5
crashtest==0.3.1
importlib-metadata==4.8.3
iniconfig==1.1.1
packaging==21.3
pastel==0.2.1
pluggy==1.0.0
py==1.11.0
pycodestyle==2.10.0
pylev==1.4.0
pyparsing==3.0.7
pytest==7.0.1
pytest-asyncio==0.16.0
shortuuid==1.0.11
tomli==1.2.3
typing==3.7.4.3
typing_extensions==4.1.1
zipp==3.6.0
